@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #211f3d;
    background-image: radial-gradient(circle, #211f3d 0%, #0e101a 100%);
    color: white;
    overflow: hidden; /* 동영상 재생 중 스크롤 방지 */
}
#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* 동영상이 최상단에 표시되도록 설정 */
    background: black;
}

#video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main-content-container {
    display: none; /* 처음에는 숨김 */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

.header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 2s;
}

.main-content.visible {
    opacity: 1; 
}

.terms {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

.terms h2 {
    margin-bottom: 10px;
}

.consent, .optional-consent {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.consent input, .optional-consent input {
    margin-right: 10px;
}

.consent button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #555;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.consent button:disabled {
    background-color: #777;
    cursor: not-allowed;
}

.footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.styled-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input::placeholder {
    color: #aaa;
}

.form-group textarea {
    resize: none;
    height: 100px;
}


